<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="USER_HOME" value="" />

	<appender name="MAIN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER.HOME}/log_file.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>1GB</totalSizeCap>
			<maxHistory>1</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %-5p [%t] %m%n</pattern>
		</encoder>
	</appender>

	<logger
		name="com.project.university.repository.ProfessorRepository"
		level="error">
		<appender-ref ref="MAIN" />
	</logger>

	<root level="error">
		<appender-ref ref="MAIN" />
	</root>
</configuration>