@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    background: linear-gradient(45deg, #24006b, #f42f8c);
}

.row {
    width: 70%;
    padding-left: 30%;
    margin: 0 0 6px 0;
}

.content {
    max-width: 50%;
    max-height: 120%;
    margin-top: 20%;
    margin-left: 25%;
}