<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Universities</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="w-auto my-auto m-auto">
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#1">Marina Kravec</button>
						<div id="1" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Marina Kravec</h4>
										<button type="button" class="close" data-dismiss="modal">×</button>
									</div>

									<div class="modal-body">
										<form class="form-inline">
                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                          <select class="custom-select mr-sm-2"
                            id="inlineFormCustomSelect">
                            <option selected>Course year</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                          <select class="custom-select mr-sm-2"
                            id="inlineFormCustomSelect">
                            <option selected>Group</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                          <select class="custom-select mr-sm-2"
                            id="inlineFormCustomSelect">
                            <option selected>Status</option>
                            <option value="1">Study</option>
                            <option value="2">Expelled</option>
                          </select>
                        </div>
                      </div>

										</form>
									</div>
									<div class="modal-footer">
                    <button type="button" class="btn btn-success"
											data-dismiss="modal">Save</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<img class="card-img-top"
						src="https://cs10.pikabu.ru/post_img/2019/11/04/11/1572890660110352407.webp"
						alt="...">
					<div class="card-body">
						<h7 class="card-title">Student id <strong>1</strong></h7>
						<p class="card-text">
							<strong>Study</strong> in the <strong>5 year</strong> in the <strong>4
								group</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
  </body>
</html>
