<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Universities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="import" href="index.html">
</head>
<body>

  <script>
           var link = document.querySelector('link[rel=import]');
           var content = link.import.querySelector('#bar');
           document.body.appendChild(content.cloneNode(true));
         </script>

<div class="w-auto my-auto m-auto">
<div class="row">

</div>
</div>

<div class="w-auto my-auto m-auto">
<div class="row">

</div>
</div>
</body>
</html>

