<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>student</title>
</head>
<body>
<h2>Student</h2>

<table border="1" cellpadding="7" cellspacing="0">
   <tr>
     <td colspan="2" bgcolor="#D3EDF6" align="center">ID: 
     <p th:utext="${student.id}"></p>
     </td>
   </tr>
   <tr>
     <td valign="top" bgcolor="#D3EDF6" align="center">Name:
     <p th:utext="${student.id}"></p>
     </td>
   </tr>
   <tr>
   <td width="98%" valign="center" bgcolor="#D3EDF6">
   Surname:
   <p th:utext="${student.surname}"></p>
   </td>
   </tr>
  </table> 
</body>
</html>