<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; URL=/university" />
    <title>Warning</title>


    <style>

        body {
            background-color:rgb(110, 110, 110);
        }

        div {
            background-color:cadetblue;
            width: 46%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            margin-top: 20%;
            margin-left: 25%;
            border: 2px solid orange;
        }

        p {
            font-size: large;
            font-weight: 900;
        }
    </style>


</head>
<body>
<div>
    <p>Sorry, there is no such group. You will now be redirected to the start page.</p>
</div>
</body>
</html>